#buyButton {
    -fx-background-color: linear-gradient(#faa51a, #f47a20);
    -fx-border-width: 1px;
    -fx-border-color: #da7c0c;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}

#buyButton:hover {
    -fx-background-color: linear-gradient( #f88e11, #f06015);
    -fx-cursor: hand;
}

#buyButton:pressed {
    -fx-background-color: linear-gradient(#faa51a, #f47a20);
}

.label {
    -fx-wrap-text: true;
}
